:root {
  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  /* Colors */
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --green: #31d0aa;
  /* other */
  --indent: 48px 24px;
  --items: 3;
}

body {
  color: var(--slate);
  background-color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.section-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategic,
.projects,
.team,
.portfolio-menu,
.portfolio {
  padding: 60px 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  border: 1px solid #e7e9fc;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  gap: 40px;
  margin: 24px 0 24px 0;
}

.contacts-menu {
  display: flex;
  gap: 40px;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-header {
  color: var(--navy-blue);
}

.link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}
/* Hero */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  display: block;
  background-color: var(--navy-blue);
}

.hero-title {
  width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.btn {
  display: block;
  margin: 48px auto 0 auto;
  padding: 16px 32px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

/* Section 1 */
.strategic {
  padding-top: 120px;
}
.features {
  display: flex;
  gap: 24px;
}
.features-text {
  width: 264px;
}

/* Section 2 */
.projects {
  padding-bottom: 120px;
}
/* Section 3 */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}

.container-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-card {
  border-radius: 0 0 4px 4px;
  background-color: var(--white);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* Footer */

.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: var(--cloud);
}
.link:focus,
.link:hover {
  color: var(--ocean);
}
.footer-text {
  width: 264px;
  height: 72px;
  margin-top: 16px;
  color: var(--cloud);
}

/* portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-menu {
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.portfolio-btn {
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
}

.btn-off {
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.btn-off:hover,
.btn-off:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.container-portafolio-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
}
